/* tag principal com fontes utilizadas Google Fonts e cor de fundo */
body{
    font-family: 'Lavishly Yours', cursive;
    background-color: bisque;
}

/* div imagem principal */
#banner {
	width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
}

.logo-cabecalho{
    width: 12%;
    position: relative;
    top: 130px;
    margin-left: 210px;
}

/* div título cabeçalho */
#titulo-principal{
    position: relative;
    font-size: 70px;
    padding: 15px;
    top: 150px;
    margin-left: 4%;
    color: brown;
}

/* classe texto principal */
.principal{
    padding: 30px;
    color: brown;
}

/* classe sub-título corpo do texto */
.sub-titulo-centralizado{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

/* tag parágrafo padrão*/
p{
    text-align: center;
    font-size: 35px;
}

/* div missão */
#missao{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

/* classe texto missão */
.texto-missao{
    background-color: rgb(150, 239, 255);
    padding: 0px, 5px;     
}


/* classe titulo produtos */
.titulo-botica{
    text-align: left;
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

/*em strong{
    background-color: rgb(150, 239, 255);
}*/

/* classe produtos */
.produtos{
    background-color: beige;
    padding: 10px;
    color: brown;
} 

/* classe itens dos produtos */
.itens{
    font-style: italic;
    font-size: 35px;
}

/* tag lista de produtos (Unorder List) */
ul{
    display: inline-block;
    vertical-align: 60px;
    padding: 50px;
}

/* imagem do corpo produtos */
.botica{
    width: 20%;
}

/* rodapé da página */
footer {
	background: url("fundo-rodape.jpg");
	padding: 30px 0;
    display: block;
}

.logo-rodape{
    width: 5%;
    display: block;
    margin-left: 910px;
    margin-top: 15px;
}

.copyright {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
	color: #000000;
	font-size: 13px;
	margin: 15px;
}